#profileCard {
            width: 300px;
            padding: 15px;
            border: 2px solid #333;
            border-radius: 10px;
            background-color: #f4f4f4;
            margin-top: 20px;
            font-family: Arial;
        }